.Rproj.user
.Rhistory
.RData
.Ruserdata
/summary/
/Scripts/km_cleanScripts/data/*
!/Scripts/km_cleanScripts/data/km_rscvi_docker
!/Scripts/km_cleanScripts/data/km_rawdata/FemaleDom/outs/filtered_feature_bc_matrix.h5
!/Scripts/km_cleanScripts/data/km_rawdata/FemaleDom/outs/web_summary.html
!/Scripts/km_cleanScripts/data/km_rawdata/FemaleDom/souporcell/
!/Scripts/km_cleanScripts/data/km_rawdata/FemaleSub/outs/filtered_feature_bc_matrix.h5
!/Scripts/km_cleanScripts/data/km_rawdata/FemaleSub/outs/web_summary.html
!/Scripts/km_cleanScripts/data/km_rawdata/MaleSub/souporcell/
!/Scripts/km_cleanScripts/data/km_rawdata/MaleSub/outs/filtered_feature_bc_matrix.h5
!/Scripts/km_cleanScripts/data/km_rawdata/MaleSub/outs/web_summary.html
!/Scripts/km_cleanScripts/data/km_rawdata/MaleDom/souporcell/
!/Scripts/km_cleanScripts/data/km_rawdata/MaleDom/outs/filtered_feature_bc_matrix.h5
!/Scripts/km_cleanScripts/data/km_rawdata/MaleDom/outs/web_summary.html
/HypoMap/data/*
!/HypoMap/data/42255_2022_657_MOESM3_ESM.xlsx
!/HypoMap/data/HypoMap_cluster_parent_ids.csv
!/HypoMap/data/clusterC286_brain_annotation_HypoMap.csv